body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #fa3;
    height: 68px;
    display: flex;
    width: 100%;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: #143141;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    align-self: center;
    height: 100%;
    padding: 14px 14px;
    font-weight: bold;
    display: block;
  }
.navbar a input {
    font-size: 16px;
    color: #143141;
    text-align: left;
    text-decoration: none;
  padding: 0;
    font-weight: bold;
    display: block;
}
#searchbar {
  padding: 22px 19px;
  height: auto;
  cursor: auto;
  line-height: auto;
  margin-left: auto;
}
#searchbar input {
  border-radius: 5px;
  height: 30px;
  border: none;
  margin: auto;
}
#searchbar ::placeholder {
  color: #eae9e9;
}
  
  .navbar #sign-in {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    align-self: center;
    height: 100%;
    font-weight: bold; 
    display: block;
    float: right;
    border-radius: 5px;
  }


  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    position: relative;
    display: block;
  }
  
  .navbar #mysets:hover, .dropdown:hover .dropbtn {
    background-color: orange;
  }

  #mysets {
    color: white;
  }

.navbar a:hover {
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 68px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .navbar a img {
    padding: 0px;
    /*max-width: 10%;*/
    width: 40px;
    height: 40px;
}
#navImg {
    height: 40px;
}
.dropdown img {
    border-radius: 50%;
    height: 40px;
    float: right;
}

.dropbtn:hover {
  cursor: pointer;
}
#create-set div {
  padding: 5px;
  border-radius: 5px;
  color: white;
}
#create-set { 
  height: 100%;
  align-self: center;
  line-height: 40px;
  padding-top: 9px;
}

.scrollsets {
  overflow: auto;
  white-space: nowrap;


}

.scrollsets div {
  background-color: #eae9e9;
  text-align: center;
  height: 150px;
  margin: 10px;
  display: inline-block;
  width: 250px;
  border-radius: 8px;
}

.scrollsets div h2 {
line-height:150px;
  margin: 0;
}

.scrollcourses {
  overflow: auto;
  white-space: nowrap;


}

.scrollcourses div {
  background-color: #eae9e9;
  text-align: center;
  height: 150px;
  margin: 10px;
  display: inline-block;
  width: 250px;
  border-radius: 8px;
}

.scrollcourses div:hover,
.scrollsets div:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px lightgray;
}
.scrollsets a:visited, .scrollsets a:link {
  color: black;
}

.scrollcourses div h2 {
line-height:150px;
  margin: 0;
}

#bodypart {
  padding-left: 10px;
}



.card {
  width: 1200px;
  height: 500px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: all .8s ease;
}

.front {
  position: absolute;
  backface-visibility: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  position: absolute;
  backface-visibility: hidden;
  text-align: center;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 3px 3px 3px 3px #ddd;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: default;
}
a:visited {
  text-decoration: none;
  color: default;
}

.flipCard {
  transform: rotateY(180deg);
}
.cardcontainer {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 47%;
  margin-left: 700px;
}

.mySlides {
  display: none;
}




.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  margin-top: -22px;
  padding: 16px;
  margin-left: 100px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  margin-left: 1259px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#users-set {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

#title-desc {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#t-d {
  display: flex;
  flex-direction: column;
}
.individualTerm {
  display: flex;
  justify-content: space-between;
}
#cardTable {
  display: table;
  border-spacing: 5px;
}
#cardRow td {
  text-align: center;
  margin: 10px;
  padding: 5px;
  box-shadow: -1px 1px 1px 1px lightgray;
  border-radius: 2px;
  
}
#cardRow {
  width: 100%;
  background-color: white;

  

}
#tbody {
  display: table;
  width: 100%;
}
@media screen and (max-width: 500px) {
  #cardTable {
    margin-right: 5%;
    margin-left: 5%;
  }
}
#writeModal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}
#writeModalx {
  position: absolute;
  top: 0;
  right: 0;

  margin-top: 15px;
  margin-right: 5px;
}
#writeModal h1 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid gray;
  margin-bottom: 0;
}
#combowrite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
#writeleft {
  width: 30%;
  height: 100%;
 /* position: absolute;*/
  background-color: gainsboro;
  
}
#writeleft h2 {
  text-align: center;

}
#rembar {
  
  background-color: #CBC3E3;
}



.writebar {
  width: 80%;
  height: 20px;

  position: relative;
  margin-right: auto;
  margin-left: auto;
}
#corbar {
  background-color: lightgreen;
}
#incbar {
  background-color: salmon;
}
.wrletxt {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  margin: auto;
  margin-top: 2px;
}
.wrletxt h4 {
  margin-top: 5px;
}
.barleft {
  width: 100%;
  height: 20px;
  position: relative;

  background-color: black;
}
#writeright {
  width: 65%;
  position: relative;

}
#writenter {
  display: flex;
 justify-content: space-between;
}
#writenter button {
  width: 50px;
}
#compWrite, #userWrite {
  position: absolute;
  display: inline-flex;
  width: 100%; 
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
}
#userWrite {
  margin-top: 50px;
  flex-direction: column;
}
#rightWrongWrite button {
  height: 30px;
  margin: 24px;
  margin-top: 150px;
}
#rightWrongWrite  {
  display: none;
  position: absolute; 
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#wordSearchModal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}
#wordSearchModalx {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 5px;
}
#wordSearchModalx:hover {
  cursor: pointer;
}
#writeModalx:hover {
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-gap: 2px;
  justify-content: center;
  color: black;
}
.cell {
  width: 30px;
  height: 30px;
  background-color: transparent;
  text-align: center;
  line-height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}
#words {
  margin: 50px;
  width: 300px;
  padding: 10px;
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
}
.found {
  border-color: lightgreen;
  color: lightgreen;
}
.strikethrough {
  text-decoration: line-through;
}
.searchModal {
  display: none;
  position: fixed;
  top: 35%;
  left: 35%;
  width: 500px;
  height: 200px;
  background-color: darkgrey;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.searchModal h2, h4 {
  margin-top: 60px;
  color: black;
}
#intro {
  width: 90%;
  margin: 3% auto;
  background-color: #eae9e9;
  padding: 100px 40px;
  border-radius: 10px;
}
#intro h1,
#intro h2 {
  text-align: center;
}
#intro:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#title {
  padding: 10px 19px;
  height: auto;
  cursor: auto;
  line-height: auto;
  font-size: 20px;
  border: 3px #eae9e9 solid;
  border-radius: 10px;
}
.term, .definition,
#description {
  border: 3px #eae9e9 solid;

}
#description {
  padding: 10px 19px;
  height: auto;
  cursor: auto;
  line-height: auto;
  font-size: 20px;
  margin-top: 5px;
  border-radius: 10px;
}
.individualTerm input {
  width: 50%;
  border-radius: 5px;
}
.individualTerm {
  height: 30px;
  margin-top: 5px;
}
#addCreate {
 position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  
}
#addCreate button {
  width: 100%;
  padding: 10px 19px;
  height: auto;
  cursor: auto;
  line-height: auto;
  font-size: 20px;
  border: 3px #eae9e9 solid;
  border-radius: 10px;
  margin-top: 5px;
}
.games {
  margin-top: 200px;
  height: 40px;
  background-color: white;
  width: 100%;
}
.games button {
  height: 40px;
  padding: 5px 15px;
  cursor: auto;
  font-size: 20px;
  border: 3px #eae9e9 solid;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #eae9e9;
}
#setTitle {
  width: 100%;
  text-align: center;
}
#enterWrite {
  background-color: white;
  border: 1px #eae9e9 solid;
  border-radius: 5px;
  margin-right: 30px;
  font-size: 15px;
  width: 30px;
}
#writegiven {
  margin-top: 30%;
}
#writeInput {
  width: 70%;
  border: none;
  border-bottom: #fa3 solid 1px;
}
#writenter button {
  width: 100px;
  height: 40px;
  font-size: 20px;
}
#writeInput:active {
  border: none;
  border-bottom: 1px solid rgb(132, 89, 28);
}
#contButton {
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: white;
  border: 1px #eae9e9 solid;
  border-radius: 5px;
  margin-right: 30px;
}
